
/**
 * Genaral stylesh + Boostrap customize
 */
*, .well{
	border-radius: 0;
}
.padding-remove{
	padding: 0;
}


body{
	background-color: #f1f1f1;
}
.container{
	background-color: rgb(256, 256, 256);
	box-shadow: 0px 10px 20px 3px #d3d3d3;
	margin: 0 auto 20px auto;
	padding: 0;
}
.menubar{
	background-color: #CD8765;
	height: 50px;
	width: 100%;
}
.footer{
	background-color: #E2CEB4;
	height: 50px;
	bottom: 0;
	position: absolute;
	padding: 20px 10px 10px 10px;
	width: 100%;
}